# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Python
__pycache__/
*.py[cod]
*$py.class
test_environment/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backups
*.bak
*.swp
*~

# IDE
.vscode/
.idea/
